:root {
	--primary-text-color: #555555;
	--secondary-text-color: #303030;
	--additional-text-color: #9da4bd;
	--translucent-text-color: rgba(157, 164, 189, 0.6);
	--light-text-color: #ffffff;
	--accent-color: #ff6c00;
	--primary-background-color: #ffffff;
	--secondary-background-color: #f7f7f7;
	--additional-background-color: #191c26;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

address {
	font-style: normal;
}

img {
	display: block;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);

	background-color: var(--primary-background-color);
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;

	outline: 2px solid red;
}

.btn {
	min-width: 160px;
	height: 40px;
	border: 1px solid var(--accent-color);
	border-radius: 25px;
	cursor: pointer;

	background-color: transparent;

	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.pre-title {
	margin-bottom: 20px;

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-transform: uppercase;
}

.section-title {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/* --------------HEADER------------- */
.header {
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: #616161;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-navigation {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 131px;
}

.header-list {
	display: flex;
	gap: 30px;
}

.header-connect {
	margin-left: auto;
}

.header-link,
.header-tel {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;

	color: var(--light-text-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
	color: var(--accent-color);
}

.current {
	color: var(--accent-color);
}

.header-btn {
	margin-left: 43px;

	color: var(--light-text-color);
}

.header-btn:hover,
.header-btn:focus {
	background-color: var(--accent-color);
}

/* ---------------MAIN-------------- */
/* ---------------HERO-------------- */
.hero {
}

.hero-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;

	color: var(--secondary-text-color);
}

.hero-link:hover,
.hero-link:focus {
	color: var(--accent-color);
}

.hero-text {
	padding-top: 184px;
	padding-right: 526px;
	padding-bottom: 208px;
	padding-left: 100px;
	background-color: #616161;
}

.hero-pre-title {
	color: var(--translucent-text-color);
}

.hero-title {
	margin-bottom: 20px;

	font-family: "Raleway", sans-serif;
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;

	color: var(--light-text-color);
}

.hero-after-title {
	color: var(--additional-text-color);
}

/* --------------ABOUT-------------- */
.about-pre-title,
.about-title {
	color: var(--secondary-text-color);
}

.about-title {
	margin-bottom: 20px;
}

.about-text {
	margin-bottom: 42px;

	font-size: 14px;
	line-height: 1.86;
}

.about-btn {
	color: var(--secondary-text-color);
}

.about-btn:hover,
.about-btn:focus {
	color: var(--light-text-color);

	background-color: var(--accent-color);
}

/* --------------PRICES------------- */
.prices {
	background-color: #616161;
}

.prices-pre-title {
	color: var(--translucent-text-color);
}

.prices-title {
	margin-bottom: 44px;

	color: var(--light-text-color);
}

.prices-list {
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;

	outline: 2px solid blue;
}

.prices-item:not(:last-child) {
	margin-bottom: 20px;
}

.prices-list-text {
	color: var(--additional-text-color);
}

.prices-btn {
	display: block;
	margin: 0 auto;
	margin-top: 44px;

	color: var(--light-text-color);
}

.prices-btn:hover,
.prices-btn:focus {
	background-color: var(--accent-color);
}

/* -------------BENEFITS------------ */
.benefits-item {
	width: 170px;
	height: 133px;
	padding: 20px 24px;

	outline: 1px solid red;
}

.benefits-item span {
	display: block;
	margin-bottom: 6px;

	font-weight: 700;
	font-size: 42px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.05em;

	color: var(--secondary-text-color);
}

.benefits-item-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-align: center;

	color: var(--secondary-text-color);
}

.benefits-pre-title,
.benefits-title {
	color: var(--secondary-text-color);
}

.benefits-title {
	margin-bottom: 20px;
}

/* -------------BARBERS------------- */
.barbers {
	background-color: var(--secondary-background-color);
}

.barbers-pre-title,
.barbers-title {
	color: var(--secondary-text-color);
}

.barbers-title {
	margin-bottom: 44px;
}

/* .barbers-list {
	display: flex;
	gap: 30px;
	(або через calc)
} */

.barbers-wrap {
	padding-top: 30px;
}

.barbers-name {
	margin-bottom: 8px;

	font-weight: 400;
	font-size: 18px;
	line-height: 1.39;
	text-align: center;

	color: var(--secondary-text-color);
}

.barbers-description {
	margin-bottom: 30px;

	font-size: 14px;
	line-height: 1.36;
	text-align: center;

	color: var(--accent-color);
}

.media-link:hover,
.media-link:focus {
	color: var(--accent-color);
}

/* .media-list {
	display: flex;
	justify-content: center;
} */

/* --------------WORKS-------------- */
.works-pre-title {
	margin-bottom: 44px;

	color: var(--secondary-text-color);
}

/* -------------BOOKING------------- */
.booking {
	background-color: var(--additional-background-color);
}

.booking-title {
	color: var(--light-text-color);
}

/* -------------CONTACTS------------ */
.contacts {
	background-color: #191c26;
}

.contacts-title {
	margin-bottom: 40px;

	color: var(--light-text-color);
}

.address {
	margin-bottom: 70px;
}

.contacts-map-link {
	display: inline-block;
	margin-bottom: 20px;

	font-weight: 700;

	color: var(--additional-text-color);
}

.contacts-item + .contacts-item {
	margin-top: 20px;
}

.contacts-tel {
	color: var(--additional-text-color);
}

.contacts-email {
	text-decoration-line: underline;

	color: var(--additional-text-color);
}

.contacts-map-link:hover,
.contacts-map-link:focus,
.contacts-tel:hover,
.contacts-tel:focus,
.contacts-email:hover,
.contacts-email:focus {
	color: var(--light-text-color);
}

.contacts-subtitle {
	margin-bottom: 20px;

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-transform: uppercase;

	color: var(--light-text-color);
}

.contacts-scedule {
	color: var(--additional-text-color);
}

/* --------------FOOTER------------- */
.footer {
	padding-top: 56px;
	padding-bottom: 56px;
}

.copyright,
.footer-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
}

.copyright {
	color: var(--additional-text-color);
}

.footer-link {
	color: var(--secondary-text-color);
}

.footer-link:hover,
.footer-link:focus {
	color: var(--accent-color);
}
